body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #f9f9f9;
  }
  
  /* Nav */
  .logo img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
  }
  
  .navdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #004aad, #cb6ce6);
    padding: 20px 60px;
  }
  
  ul {
    display: flex;
    list-style: none;
    gap: 60px;
  }
  
  .header {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
  
  .clicked,
  .header:hover {
    border-bottom: 2px solid white;
  }
  
  .login-button {
    border-radius: 10px;
    border: 2px solid whitesmoke;
    padding: 12px 24px;
    text-decoration: none;
    color: whitesmoke;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .login-button:hover {
    color: #8e63dc;
    background-color: whitesmoke;
  }

.login-options {
    padding: 100px 20px;
}

.login-btn {
    display: inline-block;
    padding: 15px 100px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: white;
    background-color: #8e63dc;
    border-radius: 10px;
    box-shadow: 0px 4px 90px 5px #dedfdf;
    text-decoration: none;
    margin: 10px;
}

.login-btn:hover {
    background-color: white;
    color: #8e63dc;
    cursor: pointer;
}

p {
    font-size: 22px;
    font-style: italic;
    color: #333;
}
